body{
	font-family:Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif;
}

.header{
	padding: 10px;
	margin-left: -20px;
	margin-right: -20px;
	background-color: #69b241;
	color: #ffffff;
	text-align: center;
}

.card{
	padding: 10px;
	margin: 10px;
	background-color: #ffffff;
	box-shadow: 1px 1px 1px 1px #dddddd;
}

.input-box{
	margin: 10px;
	padding: 6px;
	border: 1px solid #ddd;
	border-radius: 5px;
	outline-color: #69b241;
}

.input-label{
	margin: 10px;
	padding: 5px;
	color: #4c4c4c;
}

.btn{
	background-color: #69b241;
	border-color: #538033;
	color: #ffffff;
	border-radius: 5px;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	height: 30px;
	width: 100px;
	padding: 3px;
	margin: 10px;
	line-height: 30px;
}

.btn:hover{
	background-color: #538033;
}

.btn:active{
	box-shadow: 0 1px 1px 1px #036803 inset;
}
