.header{
	font-size: 2em;
	height: 2em;
}

.container{
	position: relative;
	left: 33%;
}

.signin, .signup{
	width: 33%;
	color: #bec0c2;
	position: absolute;
	top: 0;
	left: 0;
	transition: transform 1s;
	backface-visibility:hidden;
}

.signup{
	transform: rotateY(-180deg);
}

.signup-flipped{
	transform: rotateY(0deg);
}

.signin-flipped{
	transform: rotateY(180deg);
}

.signin-head, .signup-head{
	padding-left: 20px;
}

.input-box{
	height: 25px;
	width: 90%;
}