.btn{
	color: #ffffff;
	border-radius: 5px;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	height: 30px;
	padding: 3px;
	margin: 10px;
	line-height: 30px;
	box-shadow: 0 0 1px 1px #cccccc;
}

.btn-default{
	background-color: #999999;
}

.btn-default:hover{
	background-color: #666666;
}

.btn-default:active{
	box-shadow: 0 0 5px 2px #4c4c4c inset;
}

.btn-purple{
	background-color: #9966cc;
}

.btn-purple:hover{
	background-color: #663399;
}

.btn-purple:active{
	box-shadow: 0 0 5px 2px #663366 inset;
}