.btn-flip{
	position: relative;
	z-index: 9999;
}

.btn-flip-front{
	width: 100px;
	height: 30px;
	margin: 10px;
	padding: 0;
	line-height: 30px;
	background-color: #b81d18;
	border-color: #202020;
	color: #ffffff;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	box-shadow: 0 0 2px 1px #202020;
	position: absolute;

	opacity: 1.0;
	transition: opacity 1s cubic-bezier(.45,.02,.72,.28);
}

.btn-flip-front-show{
	opacity: 0.0;
	transition: opacity 0.1s;
}

.btn-flip-front:active{
	box-shadow: 0 0 0 0 #ffffff;
}

.btn-flip-front:hover{
	background-color: #ec583a;
}

.btn-flip-back{
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #202020;
	box-shadow: 0 0 20px 1px #202020;
	margin: 10px;
	padding: 0;
	
	opacity: 0.0;
	width: 100px;
	height: 30px;
	transform: rotateY(-180deg) rotateX(-180deg);
	transition: opacity 1s, transform 1s, height 0.8s cubic-bezier(0.23, 1, 0.32, 1), width 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-flip-back-show{
	opacity: 1.0;
	height: 150px;
	width: 300px;
	transform: rotateY(0) rotateX(0);
	transition: opacity 1s, transform 1s, height 0.8s cubic-bezier(0.23, 1, 0.32, 1), width 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

/* css for elements on btn-flip-back-show */

.btn-flip-yes, .btn-flip-no{
	height: 40px;
	width: 100px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	line-height: 40px;
	border-radius: 3px;
	color: #f0f0f0;
	box-shadow: 0 0 0 0 #ff5a09;
	transition: box-shadow 0.4s;
}

.btn-flip-no:hover{
	box-shadow: 0 0 12px 3px #cc0066;
	transition: box-shadow 0.4s;
}

.btn-flip-yes:hover{
	box-shadow: 0 0 12px 3px #666699;
	transition: box-shadow 0.4s;
}

.btn-flip-yes:active, .btn-flip-no:active{
	box-shadow: 0 0 0 0 #ff5a09;
	transition: box-shadow 0.2s;
}

.btn-flip-no{
	background-color: #b81d18;
	margin-right: 30px;
	float: right;
}

.btn-flip-yes{
	background-color: #004687;
	margin-left: 30px;
	float: left;
}

.btn-flip-question{
	width: 100%;
	height: 60px;
	font-weight: bold;
	color: #f0f0f0;
	text-align: center;
}
