.float-ctrl{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	position: fixed;
	background-color: #004687;
	/*background-image: url(/favicon.ico) no-repeat;*/
	box-shadow: 0 0 3px 1px #6e6e6e;
	z-index: 9999;
	-moz-user-select: none;
	user-select: none;

	font-weight: bold;
	color: #ffffff;
	text-align: center;
	line-height: 50px;
	font-size: 2em;

	transform: rotateZ(0);
	transition: transform 0.2s;
}

.float-ctrl:hover{
	transform: rotateZ(90deg);
}

.float-ctrl:active{
	transform: rotateZ(180deg);
}