.header{
	background-color: #69b241;
}

.input-box{
	margin: 10px;
	padding: 2px;
	border: 1px solid #ddd;
	border-radius: 5px;
	outline-color: #69b241;
}

.input-label{
	margin: 10px;
	padding: 5px;
	color: #4c4c4c;
}

.container{
	position: relative;
	left: 33%;
}

.signin, .signup{
	width: 33%;
	color: #4d4e53;
	position: absolute;
	top: 0;
	left: 0;
	transition: transform 1s;
	backface-visibility:hidden;
}

.signup{
	transform: rotateY(-180deg);
}

.signup-flipped{
	transform: rotateY(0deg);
}

.signin-flipped{
	transform: rotateY(180deg);
}

.signin-head, .signup-head{
	padding-left: 20px;
}

.input-box{
	height: 25px;
	width: 90%;
}