.container{
	position: relative;
	left: 33%;
}

.card-head{
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #dddddd;
}

.card-head-content{
	font-size: 1.6em;
}

.card-head-small{
	float: right;
}

.input-label{
	margin: 10px;
}

.input-box{
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	outline-color: #9999cc;
	height: 25px;
	width: 94%;
}

.signin, .signup{
	width: 33%;
	color: #999999;
	position: absolute;
	top: 0;
	left: 0;
	transition: transform 0.6s;
	backface-visibility:hidden;
}

.signup{
	transform: rotateY(-180deg);
}

.signup-flipped{
	transform: rotateY(0deg);
}

.signin-flipped{
	transform: rotateY(180deg);
}