body{
	background-color: #f0f0f0;
}

.header{
	background-color: #b6b6b6;
}

#left, #right{
	width: 50%;
	float: left;
}

.board{
	height: 200px;
	opacity: 0.0;
}

.board-show{
	height: 200px;
}

.msg{
	opacity: 0;
}

.msg-show{
	opacity: 1.0;
	transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
}

#msg-draft{
	outline: none;
	resize: none;
	padding: 5px;
	border-style: dotted;
	width: 98%;
	height: 90%;
	border-radius: 5px;
	box-shadow:0 0 0 0 #b81d18;
	transition: box-shadow 0.1s;
}

#msg-draft:focus{
	transition: box-shadow 0.1s;
	box-shadow:0 0 12px 1px #b81d18;
	border-color: #b81d18;
	border-style: solid;
	border-width: 1px;
}

.submit-msg{
	opacity: 0;
	top: 0;
	left: 120px;
}

.clear{
	opacity: 0;
	top: 0;
	left: 0;
}

.show{
	opacity: 1.0;
	transition: opacity 1s;
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
}